@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our HR.System</h1>
    <img src="https://w7.pngwing.com/pngs/450/742/png-transparent-human-resource-management-system-computer-software-android-payroll-android-blue-text-trademark.png"height="550px"width="800px"/>
</div>
